/* .holder{
	display:flex;
	
	grid-template-rows:repeat(6,1fr);
	grid-template-columns:repeat(6,100px);
} */
.holder{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap:wrap;
}
.holder > div {
	background-color:green;
	width:100px;
	height:100px;
	align-item:center;
}
.item.item-1{
	color: black;
	background-color: red;
}
.item.item-2{
	background-color: blue;
}
.item.item-3{
	background-color: green;
}


/* Your CSS Code here. */